{% extends 'layout/main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">

        {% include 'layout/left_bar.html' %}

       

        <div class="col-7" style="border-left:1px solid #e5e5e5;height:100%">
            <div class="container">
                
                <div class="d-flex justify-content-center">
                    <form action="{% url 'addInForum' %}" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}

                        <input type="submit" class="btn btn-success" value="submit">
                    </form>
                </div>
                

            </div>
        </div>

        {% include 'layout/right_bar.html' %}

    </div>
</div>
{% endblock %}