{% extends 'layout/main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-2 sticky-top">
            <h5>Categories</h5>
            <ul>
                <li>ada</li>
                <li>ada</li>
                <li>ada</li>
                <li>ada</li>
                <li>ada</li>
                <li>ada</li>
                <li>ada</li>
                <li>ada</li>
            </ul>
        </div>

        
        <div class="col-7" style="border-left:1px solid #e5e5e5;height:100%">
            <div class="container">
                <div class="text-center mb-5">
                    <h2 class="">SELAMAT DATANG DI FORUM KAMI</h2>
                    <a href="{% url 'addInForum' %}" class="btn btn-primary">Create Forum</a>
                </div>
                <h3>Forum Terbaru</h3>

                {% for forum in forums %}
                <div class="mb-3">
                    <a class="d-block font-weight-bold" href="{% url 'view_forum' forum.id %}">
                        {{forum.topic}}
                    </a>
                        <small>By {{forum.profile.name}}</small> | <small>{{forum.date_created}}</small>
                        <p class="mt-2">{{forum.description|truncatewords:40}} 
                            <a href="{% url 'view_forum' forum.id %}">more</a> 
                        </p>
                        <small>{{forum.num_comment}} Comments</small>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>

        <div class="col-3">
            <div>
                <form class="form-inline my-2 my-lg-0">
                    <input style="width: 200px;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            
            <h5 class="mt-5">Popular Forums</h5>
            {% for top in popular %}
                <a class="d-block" href="{% url 'view_forum' top.id %}">{{top.topic}}</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}